<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-list-header>
      App Contact
    </ion-list-header>
    <ion-item>
      <ion-icon name="logo-ionic" item-start></ion-icon>
      Contact Information should go here...
    </ion-item>
  </ion-list>
  
</ion-content>
